{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Welcome
{% endblock %}

{% block content %}

    <p>
        Welcome to this experiment and thank you for coming and participating. Please read the instructions
        carefully. These instructions are identical for all participants. The instructions state everything you need to
        know in order to participate in the experiment. If you have any questions, please raise your hand. One of the
        experimenters will approach you in order to answer your question.
    </p>

    <p>
        You can earn money by means of earning profit points during the experiment. The number of profit points that you
        earn depends on your choices and the choices of others. At the end of the experiment, the total number of profit
        points that you earn during the experiment will be exchanged at the rate of:
    </p>

    <p>
        <strong>for every 30 points = 1 euro</strong>
    </p>

    <p>
        In addition you will get a 5 euro show up fee. The money you earn will be paid out in cash at the end of the experiment without other participants being able
        to see how much you earned. During the experiment you are not allowed to communicate with other participants.
        Please turn off your mobile phone and put it in your bag. Also, you may only use the functions on the screen
        that are necessary to carry out the experiment.
    </p>

    {% next_button %}


{% endblock %}